.red {
	color: red;
}

.green {
	color: green;
}

.sup-navbar-text {
	color: white;
}

.ad-navbar-text {
	color: white;
	font-size: 20px;
}

.glyphicon:hover {
	transform: scale(1.5);
	color: blue;
}

.navbar {
	overflow: hidden;
	background-color: black;
	-webkit-box-shadow: none;
	box-shadow: none;
	height: 30px;
}

.navbar-inner {
	text-align: center;
}
